@using CoretaERP.Application.ViewModels.Gestion
@model CreateUserViewModel



@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<h2>Crear Usuario</h2>

<form asp-action="CreateUser" method="post">

    <div class="mb-3">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rol"></label>
        <select asp-for="Rol" class="form-control">
            <option value="">Seleccione un rol</option>
            @foreach (var rol in ViewBag.Roles)
            {
                <option value="@rol.Nombre">@rol.Nombre</option>
            }
        </select>
        <span asp-validation-for="Rol" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Crear Usuario
    </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
