@using CoretaERP.Infrastructure.Identity.Entities
@using Microsoft.AspNetCore.Identity
@using CoretaERP.Domain.Entities
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Coreta ERP</title>
    <style>
        body {
            margin: 0;
            font-family: Arial;
            background: #EAF7F0;
        }

        .container {
            display: flex;
        }

        .sidebar {
            width: 260px;
            background: #3CB371;
            padding: 20px;
            color: white;
            height: 100vh;
        }

            .sidebar h2 {
                margin-bottom: 30px;
            }

            .sidebar a {
                display: block;
                background: white;
                color: #1F2937;
                padding: 12px;
                margin-bottom: 12px;
                text-decoration: none;
                border-radius: 25px;
                text-align: center;
                font-weight: bold;
            }

        .content {
            padding: 30px;
            width: 100%;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,.05);
            width: 350px;
        }

        .btn-primary {
            padding: 10px 20px;
            border-radius: 20px;
            background: #3CB371;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div style="padding:15px; border-top:1px solid #ccc; margin-top:20px;">
                <strong>@currentUser?.FirstName</strong>
                <br />
               @*  <small>@currentUser?.Email</small> *@
            </div>
            <h2>Coreta ERP</h2>

            <a asp-controller="Home" asp-action="Index">Dashboard</a>
            @* <a asp-controller="Gestion" asp-action="Usuarios">Gestión</a> *@
            @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdmin"))
            {
                <li>
                    <a asp-controller="Gestion" asp-action="Usuarios">
                        Gestión
                    </a>
                </li>
            }
            <a asp-controller="RecursosHumanos" asp-action="Index">RR - HH</a>
           @*  <a asp-controller="Ventas" asp-action="Index">Venta - Compra</a> *@
            @if (User.IsInRole("Administrador")
                        || User.IsInRole("SuperAdmin")
                        || User.IsInRole("Ventas"))
            {
                <li>
                    <a asp-controller="Ventas" asp-action="Index">
                        Ventas
                    </a>
                </li>
            }
            <a asp-controller="Proveedores" asp-action="Index">Proveedores</a>
            <a asp-controller="Inventario" asp-action="Index">Inventario</a>
            <a asp-controller="Reportes" asp-action="Index">Reportes</a>
            <a asp-controller="Caja" asp-action="Index">Gestión Caja</a>
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
