@{
    ViewData["Title"] = "Recursos Humanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Recursos Humanos</h2>

<div class="card">
    <p>
        Gestión de empleados, asistencias y control interno.
    </p>

    <button class="btn-primary">
        Nuevo Empleado
    </button>
</div>

