@{
    ViewData["Title"] = "Gestión de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Gestión de Caja</h2>

<div class="card">
    <p>
        Control de ingresos y egresos diarios.
    </p>

    <button class="btn-primary">
        Registrar Movimiento
    </button>
</div>

