@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Proveedores</h2>

<div class="card">
    <p>
        Registro y gestión de proveedores del negocio.
    </p>

    <button class="btn-primary">
        Nuevo Proveedor
    </button>
</div>

