@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Reportes</h2>

<div class="card">
    <p>
        Visualización de reportes generales del sistema.
    </p>

    <button class="btn-primary">
        Ver Reportes
    </button>
</div>

